
@font-face {
    font-family:"GothamRounded-Light";
    src:url("GothamRounded-Light.woff2") format("woff2"),url("GothamRounded-Light.woff") format("woff"),url("GothamRounded-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        